<form id="dice-pool-form" class="sta-form">
    <div class=" dice-pool flexcol">
		<div class="flexrow">
            <label class="label" style="flex: 80%;">{{localize 'sta.apps.pool'}}</label>
            <input style="text-align: center;" class="numeric-entry" type="number" name="numberDice" value="1" id="numberDice">
        </div>
        <div class="flexrow">
            <div style="flex: 1;"><label class="label">{{localize 'sta.apps.reprimands'}}</label></div>
            <div style="flex: 1;display: flex;flex-direction: column;">
                <div class="flexrow">
                    <span class="label" style="flex: 1; text-align: left;">{{localize 'sta.counting.zero'}}</span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'sta.counting.one'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'sta.counting.two'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'sta.counting.three'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'sta.counting.four'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'sta.counting.fiveplus'}}</span>
                </div>
                <input type="range" name="complicationRange" min="0" max="5" value="{{defaultValue}}" class="slider" id="complicationRange">
            </div>
        </div>
    </div>    
</form>